.head{
    font-weight: 400;
}
nav{
   display:flex;
   justify-content: space-between;
   padding: 30px ;  
   margin: 5px 120px;
}
/* Shared Part */
.header-title,.extra-title,.extra-title,.middle-contain{
    color: dimgrey;
    font-size: 20px;
}

.btn-design{
    background-color:white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid black;   
}
.description{
    background-image: url('../assets/Hero-bg.png');
    text-align: center;
    padding:35px;
}
.btn2-design{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    
}
.extra-description{
    text-align: center;
    padding:80px;
}
.middle{
 display: flex;
 justify-content: space-between;
 margin: 5px 380px 45px;
   
}
.middle-description{
    color: dimgray;
    font-size: 25px;
}
.middle1{
    display: flex;
    justify-content: space-between;
    margin: 5px 380px 45px;
      
   }
   .middle-part1{
       color: dimgray;
       font-size: 20px;
       margin: 5px 70px;
   }
/* shared btn */
.middle-btn{
    background-color:white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid black;
    color: darkslategrey;
}
.inspiration{
    padding-top: 20px;
    text-align: center;
}
.inspiration-title{
    font-size: 20px;
    color: dimgrey;
}
.video-part{
    padding: 60px 500px;
    width: 1000;
    
}
.card-description{
    color: dimgray;
    font-size: 25px;
}
.card-contain{
    color: black;
}
.card{
    display: flex;
    padding: 100px 50px 50px 100px;
    justify-content: center;
    
    
   }
   .card1{
    display:block ;
    background-color:bisque;
    padding:50px 30px 50px 30px;
    margin-right: 30px;

   }
   .card2{
    display:block ;
    background-color:beige;
    padding: 50px 30px 20px;
    margin-right: 30px;

   }
   .card3{
    display:block ;
    background-color:bisque;
    padding: 50px 30px;
    margin-right: 30px;

   }
.target{
    text-align: center;
    padding-bottom: 80px;
}
.last-card{
    display: block;
}
.card-separate{
    justify-content: space-between;
}
.final{
    /* display: flex;    */
   }
.last-image{
        display: flex;
        justify-content: space-between;
        margin: 5px 350px 45px;
        border: 2px solid darkslategray;   

       }
    .final-pic{
        padding: 40px;
    }
   .footer-contain{
    background-image: url(../assets/handshake.jpg);
    border-radius: 15px;
    margin-left: 300px;
    width: 1000px;
    height: 250px;
    text-align: center;
   }
   .footer-font{
    color: white;
    padding-top: 30px;
   }
   .footer-title{
    color:blanchedalmond;
   }
   .last-section{
    padding: 30px;
    
   }
   .result{
    background-color:aliceblue;
   }
   .last-section{
    display: flex;
    margin: 20px 270px  50px;
   }
   .social{
    margin-left: 450px;
   }
  
   
   